@import url(./common.css);

.experiments {
  margin-top: 24px;
  font-size: 23px;
}

.block {
  background-color: #77608d;
}

.inline {
  background-color: #7A956B;
}

/*================ overflow ================*/

/* .block {
  margin-bottom: 100px;
  padding: 5px;
  max-height: 50px;
  overflow: visible;
  overflow: hidden;
}

.block-2 {
  margin-bottom: 50px;
  padding: 5px;
  max-height: 125px;
  overflow: scroll;
  overflow: auto;
} */

/*================ display ================*/

/* 
.block {
  padding: 5px;
  width: 80px;
  display: inline-block;
}

.inline {
  width: 100px;
  display: inline-block;
}

.image {
  width: 200px;
  display: block;
} 

.inline {
  display: none;
}
*/


/*================ border ================*/
/* solid dotted dashed double */

/* .block {
  margin: 15px;
  padding: 15px;
  border: 5px double #000;
  border-bottom: none;
} */

.block-border {
  margin: 24px 0 50px;
  padding: 15px;
  border-top: 5px solid red;
  border-right: 5px dotted blue;
  border-bottom: 5px dashed green;
  border-left: 5px double yellow;
}

/* .block:hover {
  border: none;
} */

/* .block:hover {
  border: 5px solid transparent;
} */

/* .inline {
  line-height: 150%;
  border: 2px solid #000;
} */

/* .image {
  border: 5px solid #000;
  width: 200px;
} */


/*================ outline ================*/


/* .block {
  margin: 15px;
  padding: 15px;
  outline: 5px solid #000;
} */

/* .block:hover {
  outline: none;
} */

/* .link:focus {
  outline: 5px solid red;
} */


/* border-radius */

/* https: //9elements.github.io/fancy-border-radius/ */

/* .block {
  margin: 15px;
  padding: 15px;
  border-radius: 20px 10px 50px 30px;

} */

/* .block {
  margin: 15px;
  padding: 15px;
  border-radius: 100% 0% 73% 27% / 63% 0% 100% 37%;
} */

/* .inline {
  border-radius: 10px
}

.image {
  width: 500px;
  border-radius: 10px;
} */

/* .image {
  width: 500px;
  height: 500px;
  border-radius: 50%;
} */


/* .block {
  margin: 15px;
  padding: 15px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  overflow: hidden;
} */

/* .circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: tomato;
} */

/*================ box-shadow ================*/

.block-shadow {
  box-shadow: 20px 20px 30px 10px #000;
  margin: 15px;
  padding: 15px;
}


/* .circle-shadow {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 50px auto 50px;
  background-color: tomato;
  box-shadow: 20px 20px 30px 10px #000, inset 20px 20px 30px 10px #000;
} */

.circle-shadow {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 50px auto 50px;
  background-color: tomato;
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.329), 0px 0px 30px 10px orange;
}

/* .inline {
  border-radius: 10px
}

.image {
  width: 500px;
  border-radius: 10px;
} */



/*================ opacity ================*/

.block-opacity0 {
  opacity: 0;
  margin: 15px;
  padding: 15px;
}

.block-opacity0:hover {
  background-color: #77608d;
  opacity: 1;
}


/*================ visibility ================*/

.block-visibility {
  margin: 15px;
  padding: 15px;
  visibility: hidden;
}


/*============================================*/


.block-center {
  background-color: burlywood;
  padding: 15px;
  margin: 15px auto;
  color: aliceblue;
  max-width: 400px;
}

/* margin: 0 0 0 auto; */


/*================ button ================*/




/* .buttons .button {
  display: block;
} */

.button {
  width: 110px;
  text-align: center;
  padding: 15px;
  margin: 24px;

  display: inline-block;
  background-color: #2196f3;
  color: white;
  border-radius: 20px;
  box-shadow: 0 5px 0 #000;
}

.button:hover {
  margin-top: 3px;
  box-shadow: 0 2px 0 #000;
}